
name: Generate Snake

on:
	schedule:
		- cron: "0 0 * * *"
	workflow_dispatch:
	push:
		branches:
			- main

jobs:
	build:
		runs-on: ubuntu-latest
		steps:
			- uses: actions/checkout@v4

			- name: Generate snake SVGs
				uses: Platane/snk@v3
				with:
					github_user_name: kdptan
					outputs: |
						dist/snake.svg
						dist/snake-dark.svg?palette=github-dark

			- name: Commit snake SVGs
				uses: stefanzweifel/git-auto-commit-action@v5
				with:
					commit_message: "chore: update snake svg"
					file_pattern: dist/snake*.svg

